.web-biu-row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    &.web-biu-align-start {
        justify-content: start;
    }

    &.web-biu-align-center {
        justify-content: center;
    }

    &.web-biu-align-end {
        justify-content: flex-end;
    }

    &.web-biu-align-space-between {
        justify-content: space-between;
    }

    &.web-biu-align-space-around {
        justify-content: space-around;
    }

    .web-biu-col {
        box-sizing: border-box;
        @for $i from 1 through 12 {
            &.web-biu-col-#{$i} {
                width: calc(100% / 12 * #{$i});
            }
        }

        @for $i from 1 through 24 {
            &.web-biu-col-lg-#{$i} {
                width: calc(100% / 24 * #{$i});
            }
        }
    }
}
